<%= form_with(model: spending) do |form| %>
  <% if spending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spending.errors.count, "error") %> prohibited this spending from being saved:</h2>

      <ul>
        <% spending.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ">
    <p>
      <%= form.text_field :description, class:"form-control", placeholder:"Description"%>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.text_field :amount, class:"form-control", placeholder:"Amount" %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.select :category, ['Traveling', 'Clothing', 'Taxi', 'Cafes', 'Shops', 'Other'], {}, {class: "form-control"} %>
    </p>
  </div>



  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
