<% if user_signed_in? %>
  <p><h1>Spendings List</h1></p>

  <p>
    <div class="container-fluid justify-content-start">
      <%= form_with url: list_spendings_path, class:"d-flex", method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "spendings" } do |form| %>

        <%= form.number_field :amount_from,
                            placeholder: "Amount From",
                            class:"form-control me-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" }
        %>

        <%= form.number_field :amount_to,
                            placeholder: "Amount To",
                            class:"form-control me-2",
                            autocomplete: "off",
                            data: { action: "input->search-form#search" }
        %>

        <%= form.select :category,
                        options_for_select(
                          Spending.pluck(:category),
                          session.dig('spending_filters', 'category')
                        ),
                        { include_blank: 'All Categories' },
                        value: session.dig('spendings_filters', 'category'),
                        class: "form-control me-2"
        %>

        <%= form.text_field :description,
                            placeholder: "Search by description",
                            value: session.dig('spendings_filters', 'description'),
                            class:"form-control me-2",
                            autocomplete: "on",
                            data: { action: "input->search-form#search" }
        %>

        <%= form.submit "Search", class:"btn btn-secondary"  %>
      <% end %>
    </div>
  </p>

  <%= turbo_frame_tag "spendings" do %>

    <table class="table table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th id="spendings-description">
            <%= sort_indicator if session.dig('spending_filters', 'description') == "description" %>
            <%= build_order_link(column: "description", label: "Description") %>
          </th>
          <th id="spendings-category">
            <%= sort_indicator if session.dig('spending_filters', 'column') == "category" %>
            <%= build_order_link(column: "category", label: "Category") %>
          </th>
          <th id="spendings-amount">
            <%= sort_indicator if session.dig('spending_filters', 'column') == "amount" %>
            <%= build_order_link(column: "amount", label: "Amount") %>
          </th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% spendings.each do |spending| %>
          <% if spending.user == current_user %>
            <tr>
              <td><%= link_to spending.description, spending %></td>
              <td><%= spending.category %></td>
              <td><%= spending.amount %></td>
              <td><%= link_to 'Show', spending %></td>
              <td><%= link_to 'Edit', edit_spending_path(spending) %></td>
              <td><%= link_to 'Delete', spending, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <th colspan="2">Total Amount:</th>
          <td> <strong> <%= spendings.select {|spending| spending.user == current_user}.map{|spending| spending.amount.to_d.round(2)}.sum %> </strong> </td>
          <th colspan="3"></th>
        </tr>
      </tbody>
    </table>
  <% end %>

  <p>
    <%= link_to 'Add Spending', new_spending_path, class:"btn btn-outline-success" %>
    <%= link_to 'Share Table', new_spending_path, class:"btn btn-outline-primary" %>
  </p>

<% else %>
  <p><h1> You should register to see your spendings </h1></p>
<% end %>