
<p>
  <div class="card">
    <div class="card-header">
      <p><h2>Edit <%= resource_name.to_s.humanize %></h2></p>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field form-group">
          <p><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %></p>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p><div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div></p>
        <% end %>

        <div class="field form-group">
          <p><%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"New Password (leave blank if you don't want to change it)" %></p>
          <% if @minimum_password_length %>
            <p>
              <em><%= @minimum_password_length %> characters minimum to change password</em>
            </p>
          <% end %>
        </div>

        <div class="field form-group">
          <p><%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Repeat New Password" %></p>
        </div>

        <div class="field form-group">
          <p><%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", placeholder:"Current Password (we need your current password to confirm your changes)" %></p>
        </div>

        <div class="actions">
          <p>
            <%= f.submit "Update", class:"btn btn-warning" %>
            <%= link_to "Back", :back, class:"btn btn-secondary" %>
          </p>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  <div class="card">
    <div class="card-header">
      <p><h3>Delete Account</h3></p>
    </div>
    <div class="card-body">
      <p>You want to delete your account? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class:"btn btn-danger", method: :delete %></p>
    </div>
  </div>
</p>