<br>
<div class="card">
  <div class="card-header">
    <p><h2>Sign up</h2></p>
  </div>
  <div class="card-body">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <p><%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %></p>
      </div>

      <div class="field">
        <p><%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password" %></p>
        <% if @minimum_password_length %>
          <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
        <% end %>
      </div>

      <div class="field">
        <p><%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Repeat Password" %></p>
      </div>

      <div class="actions">
        <p><%= f.submit "Sign up", class:"btn btn-success" %></p>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>
